h1 {
    color:black;
}

body{
    max-width: 560px;
    margin: 0 auto;
}

img {
    max-width: 50%;
    height: auto;
    align-self: auto;
}

#links{
    justify-content: space-around;
    margin: 20px 0;
    text-align: center;
}

#logo{
    display: flex;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

#registration{
    display: inline-block;
}